.orb-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
  background: radial-gradient(circle at 50% 50%, rgba(255,255,255,0.8), rgba(237, 228, 213, 0.4));
}

.orb {
  position: absolute;
  border-radius: 50%;
  filter: blur(80px);
  opacity: 0.6;
  animation: drift 20s infinite alternate ease-in-out;
}

.orb-1 {
  width: 60vw;
  height: 60vw;
  background: var(--coral-fade);
  top: -20%;
  left: -10%;
  animation-duration: 25s;
}

.orb-2 {
  width: 50vw;
  height: 50vw;
  background: var(--pool-blue);
  bottom: -10%;
  right: -10%;
  animation-duration: 32s;
  animation-delay: -5s;
}

.orb-3 {
  width: 30vw;
  height: 30vw;
  background: var(--sun-bleached-gold);
  top: 40%;
  left: 40%;
  opacity: 0.4;
  animation-duration: 18s;
}

@media (max-width: 900px) {
  .orb { opacity: 0.8; }
}
